[submodule "ssc/google-test"]
	path = ssc/google-test
	url = git@gitlab.sirehna.com:ThirdParty/google-test
[submodule "ssc/eigen"]
	path = ssc/eigen
	url = git@gitlab.sirehna.com:ThirdParty/eigen
[submodule "ssc/yaml-cpp"]
	path = ssc/yaml-cpp
	url = git@gitlab.sirehna.com:ThirdParty/yaml-cpp
[submodule "ssc/gcovr"]
	path = ssc/gcovr
	url = git@gitlab.sirehna.com:ThirdParty/gcovr
