[submodule "ssc/google-test"]
	path = ssc/google-test
	url = ../../ThirdParty/google-test.git
[submodule "ssc/eigen"]
	path = ssc/eigen
	url = ../../ThirdParty/eigen.git
[submodule "ssc/yaml-cpp"]
	path = ssc/yaml-cpp
	url = ../../ThirdParty/yaml-cpp.git
[submodule "ssc/gcovr"]
	path = ssc/gcovr
	url = ../../ThirdParty/gcovr.git
[submodule "ssc/f2c"]
	path = ssc/f2c
	url = ../../ThirdParty/f2c.git
[submodule "ssc/websocketpp"]
	path = ssc/websocketpp
	url = ../../ThirdParty/websocketpp.git
[submodule "ssc/geographiclib"]
	path = ssc/geographiclib
	url = ../../ThirdParty/geographiclib.git
